# Node.js modules
node_modules/

# Build output directories
dist/
build/

# Playwright screenshots and videos
playwright-report/
*.png
*.mp4

# Playwright trace files
*.trace.zip

# Allure reports
allure-results/
allure-report/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.local
.env.*.local

# IDE/editor directories
.vscode/
.idea/

# NPM lock files (optional, if you use Yarn or other package managers)
package-lock.json
yarn.lock

# Optional files
coverage/

# TypeScript cache
*.tsbuildinfo

# Next.js build output (if using Next.js)
.next/

# Build artifacts
*.tgz

# MacOS Finder directory attributes
.AppleDouble
.LSOverride
